html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background: rgb(255, 252, 250);
}

.cta-section {
  position: relative;
  width: 1440px;
  height: 972px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  background: rgb(255, 252, 250);
  box-sizing: border-box;
}

.frame {
  position: static;
  width: 1440px;
  height: 972px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 64px 96px 64px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0;
  box-sizing: border-box;
}

.label-title-link {
  position: static;
  width: 864px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 80px 0;
  box-sizing: border-box;
}

.label-subtitle {
  position: static;
  width: 642px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  flex: none;
  order: 0;
  margin: 0 0 24px 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.content {
  position: static;
  width: 1312px;
  height: 515px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 1;
  gap: 24px;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
}

.image-cta-left {
  position: static;
  width: 644px;
  height: 515px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 1;
  border-radius: 4px;
  box-sizing: border-box;
}

.image-cta-right {
  position: static;
  width: 644px;
  height: 515px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 1;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 376px) {
  .cta-section {
    position: relative;
    width: 375px;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    background: rgb(255, 252, 250);
    box-sizing: border-box;
  }
}

@media (max-width: 376px) {
  .frame {
    position: static;
    width: 375px;
    height: 889px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 20px 64px 20px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px;
    box-sizing: border-box;
  }
}

@media (max-width: 376px) {
  .label-title-link {
    position: static;
    width: 335px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0 32px 0;
    box-sizing: border-box;
  }
}

@media (max-width: 376px) {
  .label-subtitle {
    position: static;
    width: 335px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0 16px 0;
    box-sizing: border-box;
  }
}

@media (max-width: 376px) {
  .content {
    width: 335px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
  }
}

@media (max-width: 376px) {
  .image-cta-left {
    width: 335px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 376px) {
  .image-cta-right {
    width: 335px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
